:root {
  --preto: #000000;
  --branco: #ffffff;
  --cinza: #e2e2e2;
  --azul: #a3ceef;
  --fonte: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: var(--fonte);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cinza);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
